body{
    background-color: #282C35;
    color: #6a89cc;
}

.sidebar .sidebar-content {
    background-image: linear-gradient( #4299e1,#4299e1);
    color: white;
    width: 300px;
}

.radio .radio-content {
    background-image: linear-gradient(white,white);
    color: white;
}

.reportview-container .main .block-container{
    max-width: 2000 px;
}
